{{define "title"}}Contact{{end}}

{{define "content"}}
<address>
	Contact me via email: <a href="mailto:beltranbeaverdam@gmail.com">beltranbeaverdam@gmail.com</a>.<br>
	Or write me:<br>
	237 N Scenic Dr W<br>
	Washington UT, 84770<br>
	USA
</address>
{{end}}
