{{define "title"}}Games{{end}}


{{define "description"}}
	This site is by yours truly.
	Have a look around.
	I hope you find something you like.
{{end}}


{{define "content"}}
	<ol>
		<li>
			<a href="/games/game-of-life">Conway's Game of Life</a>
		</li>
	</ol>
{{end}}
