{{define "title"}}Home{{end}}


{{define "description"}}
	This site is by yours truly.
	Have a look around.
	I hope you find something you like.
{{end}}


{{define "content"}}
	<p>
		Check the section <a href="/about-me">about me</a> to learn more about me.
	</p>
	<p>
		Or check out my <a href="/blog">blog</a>.
	</p>
	<p>
		Or perhaps check out the <a href="games">games</a> I've built you can play in your browser.
	</p>
{{end}}
