{{define "title"}}Game: Conway's Game of Life{{end}}


{{define "description"}}
	<span>My take on</span> <a href="https://en.wikipedia.org/wiki/Conway's_Game_of_Life">Conway's game of Life</a>
{{end}}

{{define "content"}}
	<script type="text/javascript" src="/js/game-of-life.js" defer ></script>
	<div id="game" style="width: 100%; aspect-ratio: 1 / 1"></div>
{{end}}
